

textarea{
    height: 400px;
}

.item {
    margin: 0 0.5rem;
}

input{
    height: 2rem;
}

input, textarea{
    width: 100%;
    border: 1px solid lightgray; 
    /* border-style: none; */
    border-radius: 5px;
    /* box-shadow: 3px 3px rgb(240 239 239); */
    padding-left: 0.5rem;
}






