* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 12px;

}

body{
  background-color: #FAFAFA;
}
.page-container{
  display: flex; 
  height: 100%;
  width: 100%;

}


/* material UI dialog box css setting override */
.MuiDialog-paper{
  height: 77%;
  padding: 1rem;
}
