* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 12px;
}


/* #root{
  background-color: #5F634F;
  height: 100vh;
} */

html, body{
  background-color: #5F634F;
  height: 100vh;
}

.background{
  background-color:#FAFAFA;
  height: 100vh;
}


.addBtn{
  left: 90%;
  top: -30px;
}

.job-overview{
  height: 100px;
}



/* material UI dialog box css setting override */
.MuiDialog-paper{
  height: 77%;
  padding: 1rem;
}
