.container{

    background-color: #5F634F;
    height: 100%;
    width: 180px;
    position: fixed;
}

.menu{
    margin-top: 10rem;
    margin-left: 3rem;
}

.navLinks{
    list-style: none;
    margin-bottom: 1rem;
    color: white;
}